<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.ssafy.ourtrip.list.dao.ListMapper">

	<resultMap type="listDto" id="listDto">
		<result column="list_no" property="listNo"/>
		<result column="list_name" property="listName"/>
		<result column="list_img" property="listImg"/>
		<result column="list_open" property="listOpen"/>
		<result column="user_id" property="userId"/>
	</resultMap>
	
	<resultMap type="placeDto" id="placeDto">
		<result column="place_no" property="placeNo"/>
		<result column="place_name" property="placeName"/>
		<result column="place_url" property="placeUrl"/>
		<result column="place_address_name" property="placeAddressName"/>
		<result column="place_road_address_name" property="placeRoadAddressName"/>
		<result column="place_phone" property="placePhone"/>
		<result column="place_x" property="placeX"/>
		<result column="place_y" property="placeY"/>
		<result column="list_no" property="listNo"/>
	</resultMap>
	
	<select id="myList" parameterType="string" resultMap="listDto">
		select list_no, list_name, list_img, list_open, user_id
		from list
		where user_id = #{userId}
	</select>
	
	<select id="shareList" parameterType="string" resultMap="listDto">
		select l.list_no, l.list_name, l.list_img, l.list_open, l.user_id
		from list as l, share as s
		where s.user_id = #{userId} and s.list_no = l.list_no
	</select>
	
	<select id="openList" resultMap="listDto">
		select list_no, list_name, list_img, list_open, user_id
		from list
		where list_open = true
	</select>
	
	<select id="detailByListNo" parameterType="int" resultMap="listDto">
		select list_no, list_name, list_img, list_open, user_id
		from list
		where list_no = #{listNo}
	</select>
	
	<select id="detail" parameterType="string" resultMap="placeDto">
		select place_no, place_name, place_url, place_address_name, place_road_address_name,place_phone, place_x, place_y, list_no 
		from place
		where list_no = #{listNo}
	</select>
	
	<insert id="registerList" parameterType="listDto" useGeneratedKeys="true">
		insert into list (list_name, list_img, list_open, user_id)
		values (#{listName}, #{listImg}, #{listOpen}, #{userId})
		
		<selectKey resultType="int" keyProperty="listNo" keyColumn="list_no" order="AFTER" >
			select LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<delete id="deleteList" parameterType="int">
		delete from list
		where list_no = #{listNo}
	</delete>
	
	<update id="modifyList" parameterType="listDto">
		update list
		set list_name = #{listName}, list_img = #{listImg}, list_open = #{listOpen}
		where list_no = #{listNo}
	</update>
</mapper>