<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.ssafy.ourtrip.reply.dao.ReplyMapper">

	<resultMap type="replyDto" id="replyDto">
		<result column="reply_no" property="replyNo"/>
		<result column="reply_content" property="replyContent"/>
		<result column="reply_datetime" property="replyDatetime"/>
		<result column="reply_like" property="replyLike"/>
		<result column="list_no" property="listNo"/>
		<result column="user_id" property="userId"/>
	</resultMap>
	
	<resultMap type="likeDto" id="likeDto">
		<result column="reply_no" property="replyNo"/>
		<result column="user_id" property="userId"/>
	</resultMap>
	

	<insert id="regist" parameterType="map">
		insert into reply (reply_content, list_no, user_id)
		values (#{replyContent}, #{listNo}, #{userId})
	</insert>
	
	<delete id="delete" parameterType="map">
		delete from reply
		where reply_no = #{replyNo} and user_id = #{userId}
	</delete>
	
	<update id="addLike" parameterType="int" >
		update reply
		set reply_like = reply_like + 1
		where reply_no = #{replyNo}
	</update>
	
	<update id="subLike" parameterType="int" >
		update reply
		set reply_like = reply_like - 1
		where reply_no = #{replyNo}
	</update>
	
	<select id="getLike" parameterType="int" resultType="Integer">
		select reply_like
		from reply
		where reply_no = #{replyNo}
	</select>
	
	<select id="getReply" parameterType="map" resultType="map">
		SELECT r.reply_no, r.reply_content, r.reply_datetime, r.reply_like, r.list_no, r.user_id, 
			case when l.user_id IS NOT NULL THEN true ELSE false END AS status
		FROM reply r 
		LEFT JOIN replylike l ON r.reply_no = l.reply_no AND l.user_id = #{userId}
		WHERE r.list_no = #{listNo}
	</select>
	
	<insert id="addReplyLike" parameterType="map">
		insert into replylike (reply_no, user_id)
		values (#{replyNo}, #{userId})
	</insert>
	
	<delete id="subReplyLike" parameterType="map">
		delete from replylike
		where reply_no = #{replyNo} and user_id = #{userId}
	</delete>
	
</mapper>