<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.ssafy.ourtrip.share.dao.ShareMapper">

	<resultMap type="shareDto" id="shareDto">
		<result column="user_id" property="userId"/>
		<result column="list_no" property="listNo"/>
	</resultMap>
	
	<insert id="add" parameterType="shareDto">
		insert into share (user_id, list_no)
		values (#{userId}, #{listNo})
	</insert>
	
</mapper>